p.mainTitle {
  color: #3C3C3C;
  font-size: 30px;
  margin-left: 50px;
} 
p.mainText {
  color: #3C3C3C;
  font-size: 20px;
  margin-left: 50px;
}
a.link{
  font-size: 20px;
  margin-left: 10px;
}

body {
  background-color: white;
  font-family: Arial;
}