p.mainTitle {
  color: #3C3C3C;
  font-size: 2.5vw;
  margin-left: 50px;
} 
p.mainText {
  color: #3C3C3C;
  font-size: 1.5vw;
  margin-left: 50px;
}
a.link{
  font-size: 1.5vw;
  margin-left: 50px;
}

body {
  background-color: white;
  font-family: Arial;
}