:root {
  --scaleWin: 0.5;
  --scaleScr: parseInt(screen.width);
}

p.mainTitle {
  margin-top: 80px;
  text-align: center;
  color: #3C3C3C;
  font-size: 3vw;
  float: top;
}
p.descriptionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: left;
  color: #3C3C3C;
  font-size: 2vw;
  float: top;
  font-weight: bold;
}
p.firstDescriptionTitle {
  margin-top: 20px;
  margin-right: -250px;
  text-align: center;
  color: #3C3C3C;
  font-size: 2vw;
  float: top;
  font-weight: bold;
}
p.firstDescription {
  margin-top: 10px;
  margin-right: -250px;
  text-align: center;
  color: #3C3C3C;
  font-size: 1.5vw;
  float: top;
}
p.description {
  margin-top: 20px;
  margin-right: 0px;
  text-align: left;
  color: #3C3C3C;
  font-size: 1.5vw;
  float: top;
}
body {

  background-color: white;
  font-family: Arial;
}
hr {
  height:1px;
  width:500px;
  border-width:0;
  background-color:#000000;
  margin-bottom: 10px;
  margin-top: 0px;
}

button.reset {
  font-size: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: right;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background: none;

}

div.sendButton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 300px;
  padding-right: 0px;
}

button.sendButton {
margin-top: 100px;
  float: left;
  background-color: #0BC000;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  padding: 0px;

  /*box-shadow: 0 0.625rem 3.5rem rgba(17,48,77,0.4);*/
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 4vw;
  font-size: 15px;
  transform: translate(calc(36.5vw), 0);
  margin-bottom: 100px;
}

img.resetImage {
  width: 100%;
  height: 100%;
}
button.reset:hover {
  background-color: #DCDCDC;
}




img.gameIcon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: -15px;
  box-shadow: 0 0.0rem 0.5rem rgba(17,48,77,0.3);
}

img.normalIcon {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
}

.games-container {
  display: grid;  
  gap: 10px;
  padding: 10px;
  position: absolute;
  margin-bottom: 100px;
}

div.package {
  box-shadow: 0 0.625rem 2.5rem rgba(17,48,77,0.3);
  text-align: left;
  background-color: white;
  width: 35vw;
  
  padding: 10px 50px;
  margin-top: 30px;
  margin-left: 28vw;
  border-radius: 10px;
  background-color: white;
  float: top;

}


input.file{
  margin-top: 10px;
  width: 200px;
}

div.inputLine{
  float: left;
}
audio{
  scale: 80%;
  width: 100%;
  margin-left: 0px;
  margin-bottom: -15px;
}
.vl {
  border-left: 2px solid black;
  height: 20vw;
  left: 50%;
  margin-left: 300px;
  margin-top: -50px;
  float: left;
}
iframe.landscape {
  width: 75vw;
  height: 50vw;
  border-radius: 10px;
  float: left;
  border-width:0;
  margin-top: -250px;
  -ms-zoom: 0.75;
  -moz-transform: scale(0.23);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.23);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.23);
  -webkit-transform-origin: 0 0;
}
iframe.portrait {
  width: 50vw;
  height: 75vw;
  border-radius: 10px;
  float: left;
  border-width:0;
  position: absolute;
  top: -2%;
  left: 37%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-zoom: 1;
  -moz-transform: scale(var(--scaleWin));
  -moz-transform-origin: 0 0;
  -o-transform: scale(var(--scaleWin));
  -o-transform-origin: 0 0;
  -webkit-transform: scale(calc(var(--scaleWin) * 1));
  -webkit-transform-origin: 0 0;
}
img.successIcon{
  float: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
p.doneTitle{
  margin-top: 20%;
  text-align: center;
  color: #3C3C3C;
  font-size: 2.5vw;

}
p.doneDescription{
  float: top;
  margin-top: 3vw;
  text-align: center;
  color: #3C3C3C;
  font-size: 1vw;
}
button.backButton {
  float: top;
  background-color: #0BC000;
  border-radius: 0.75vw;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 10vw;
  height: 3vw;
  font-size: 1vw;
  display: block;
  margin: auto;
  margin-top: -5vw;
}
.centerContent{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader {
  margin-right: 1vw;
  visibility: hidden;
  border: 7px solid #ffffff;
  border-radius: 50%;
  border-top: 7px solid #0CA600;
  width: 1vw;
  height: 1vw;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
float: right;

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(340deg); }
}
#myProgress {
  visibility: hidden;

  background-color: #999;

  margin-top: 190px;
  float: left;
display: block;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 25px;
  cursor: pointer;
  padding: 0px;
  width: 25vw;
  /*box-shadow: 0 0.625rem 3.5rem rgba(17,48,77,0.4);*/
  position: absolute;
  bottom: 0;
  height: 2vw;

  transform: translate(calc(37.2vw), 3vw);
  margin-bottom: 100px;
}
